<div class="portlet-title">
  <div class="caption">
    <span class="bold uppercase font-blue">
      <i class="fa fa-align-justify font-blue"></i>&nbsp;run sheet
    </span>
  </div>
  <div class="actions">
    <a class="btn blue btn-outline" href="">
      <i class="fa fa-plus"></i>&nbsp;Add Job
    </a>
    <a class="btn blue btn-outline" href="">
      <i class="fa fa-minus"></i>&nbsp;Minimise All
    </a>
    <a class="btn blue btn-outline" href="">
      <i class="fa fa-expand"></i>&nbsp;Full screen
    </a>
    <a class="btn blue btn-outline" href="">
      <i class="fa fa-moon-o"></i>&nbsp;Night Shift
    </a>
  </div>
</div>
