body{
    font-family: "Open Sans", sans-serif;
}
 .ng-left-panel{
    width: 15%;
    float: left;
    position: fixed;
    background: white;
    z-index: 100;
}

.ng-calendar-panel{
    margin-bottom: 15px;
}

.ng-calendar-header{
    background: #3598dc;
    padding: 9px 0;
    cursor: pointer;
    padding-left: 10px;
}
.ng-select-box-panel{
    overflow-y: auto;
    overflow-x: hidden;
    width: 237px;
    height: 530px;
    background: #fff;
}
.ng-select-box-group{
    margin-bottom: 15px;
}

.ng-content{
    border: 1px solid #c2cad8;
}
.ng-header {
    background: #3598dc !important;
    color: white;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    font-size: 12px !important;
    font-weight: 600;
    height: 100%;
}
.ng-btn-calendar {
    position: relative;
}

.ng-btn-calendar:hover .ng-header-calendar {
    transform: scaleY(1);
    position: unset;
}

.ng-header:focus {
    box-shadow: unset;
    border-color: transparent;
}

.ng-header-calendar {
    /* display: none; */
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-out;
    position: absolute;
    top: 100%;
    left: 0;
}

.ng-header-icon {
    float: right;
    line-height: 18px;
    transition: transform 0.5s;
}

.ng-header[aria-expanded=true] .ng-header-icon {
    transform: rotate(90deg);
}

/* Card  item*/
.ng-card-item {
    margin-bottom: 5px;
}


/* Card body */
.ng-card-body {
    border: 1px solid #c2cad8;
    margin-top: 2px;
}
.ng-search{
    margin: 5px;
}
/* List items */
.ng-items {
    padding-left: 0;
}

.ng-item {
    padding-left: 5px;
    border: 1px solid #e2e2e2;
    margin: 5px;
    background: #fbfafa;
    color: #888888;
}







/* DDDDDDUUUUUUUUYYYYYYYYY */

.run-sheet-main .rs-header .rs-time-left{
    margin-right: 10px;
    font-weight: bold;
}
.run-sheet-main .rs-header .rs-time-right{
    margin-left: 10px;
    font-weight: bold;
}
.rs-header{
    text-align: center;
    margin-bottom: 15px;
    font-size: 18px;
}

.desc{
    font-size: 12px !important;
}



table th {
    background: #3598dc !important;
    color: white;
    vertical-align: middle;
    font-size: 12px !important;
}
.table-checkable tr > th:first-child, .table-checkable tr > td:first-child {
    text-align: center;
    max-width: 50px;
    min-width: 50px;
    padding-left: 0;
    padding-right: 0;
}

.ng-border{
    margin-top: 5px;
    padding-left: 3px;
    border: 1px solid
}
.ng-border i{
    float: right;
}





