<div class="ng-list-cards">
  <div class="row">
    <div class="col-sm-2">
      <perfect-scrollbar style="max-width: 600px; max-height: 800px ">
        <div id="accordio">
          <div class="card ng-card-item ng-btn-calendar">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <!-- <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-calendar"></i>
                Cleander
              </button> -->
                <button class="btn btn-primary ng-header">
                  <i class="fa fa-calendar"></i>
                  Cleander
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="ng-header-calendar" aria-labelledby="headingOne">
              <div class="card-body ng-card-body">
                <app-date-picker></app-date-picker>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Foremans
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse toggle dispose hide " aria-labelledby="headingTwo">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]='searchTeamLeader' placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of teamLeadersView">
                    <div dnd-draggable [dragEnabled]="true" [dragData]="api">
                      {{api.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  Traffic Controllers
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]="searchTeamMembers" placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of teamMembersView">
                    <div dnd-draggable [dragEnabled]="true" [dragData]="api">
                      {{api.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseOne">
                  Contractors
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]="searchconTractors" placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of conTractorsView">
                    <div dnd-draggable [dragEnabled]="true" [dragData]="api">
                      {{api.name}}
                    </div>

                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                  aria-controls="collapseFive">
                  Owned Plant & Equipment
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]='searchowendPlant' placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of ownedPlantView">
                    <div dnd-draggable [dragEnabled]="true" [dragData]="api">
                      {{api.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                  aria-controls="collapseSix">

                  Hired Plant & Equipment

                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]='searchhiredPlant' placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of hiredPlantView">
                    <div dnd-draggable [dragEnabled]="true" [dragData]="api">
                      {{api.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="card ng-card-item">
            <div class="card-header" id="headingSeven">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                  aria-controls="collapseSeven">
                  Vehicles
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>

            <div id="collapseSeven" class="collapse toggle" aria-labelledby="headingSeven">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]='searchvehiCles' placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of vehiClesView">
                    <div dnd-draggable [dragEnabled]="true" [dragData]="api">
                      {{api.name}}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingEight">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false"
                  aria-controls="collapseEight">
                  Unavailable
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseEight" class="collapse toggle" aria-labelledby="headingEight">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]='searchunAvailables' placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of unAvailablesView">
                    {{api.name}}
                  </li>
                  <li class="ng-item">
                    No data available
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card ng-card-item">
            <div class="card-header" id="headingNine">
              <h5 class="mb-0">
                <button class="btn btn-primary collapsed ng-header" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false"
                  aria-controls="collapseNine">
                  Employees On Leave
                  <i class="fa fa-caret-right ng-header-icon"></i>
                </button>
              </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine">
              <div class="card-body ng-card-body">
                <div class="ng-search">
                  <input type="text" class="form-control" [(ngModel)]='searchonLeaveEmployees' placeholder="Search...">
                </div>
                <ul class="apis ng-items">
                  <li class="ng-item" *ngFor="let api of onLeaveEmployeesView">
                    {{api.name}}
                  </li>
                  <li class="ng-item">
                    No data available
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
    <table id="datatable">
      <thead>
        <tr role="row">
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Actions </div>
              <div class="panel-body">

              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Shift Number </div>
              <div class="panel-body">
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Start Time </div>
              <div class="panel-body">
                <div></div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> End Time </div>
              <div class="panel-body">
                <div> </div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Client </div>
              <div class="panel-body">
                <div></div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Location </div>
              <div class="panel-body">
                <div> </div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataOwnedAssets($event)" (onDropSuccess)=" transferDataHiredSuccess($event)"
              (onDropSuccess)="transferDataVehicleSuccess($event)">
              <div class="panel-heading"> Assigned Assets</div>
              <div class="panel-body">
                <div>
                  <ol>
                    <li *ngIf="receivedDataOwned">{{receivedDataOwned}}</li>
                    <li *ngFor="let data of dataHired"> {{data.name }}</li>
                    <li *ngFor="let data of dataVehicle"> {{data.name }}</li>
                  </ol>
                </div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Foreman </div>
              <div class="panel-body">
                <div *ngIf="receivedDataForeman">1. {{receivedDataForeman}}</div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataControllersSuccess($event)">
              <div class="panel-heading">Traffic Controllers </div>
              <div class="panel-body">
                <ol>
                 <li *ngFor="let data of dataControllers"> {{data.name}} <i class="assigned-item-icon fa fa-trash"></i></li>
                 
                </ol>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataContractorSuccess($event)">
              <div class="panel-heading">Contractors </div>
              <div class="panel-body">
                <div>
                  <div *ngFor="let data of dataContractors; let i = index"> {{i + 1}}. {{data.name}}
                    <br/> -Quantity:{{data.quantity}}</div>
                </div>
              </div>
            </div>
          </th>
          <th>
            <div dnd-droppable class="panel panel-info" (onDropSuccess)="transferDataForemanSuccess($event)">
              <div class="panel-heading"> Status </div>
              <div class="panel-body">
                <div> </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr role="row">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>